.signOut-container {
  height: 100vh;
  background-color: #c23a45;
  overflow: hidden;
}

.signOut-container h1 {
  margin-left: 2rem;
}

.signOut-container a {
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  width: 9rem;
  color: black;
  font-weight: 700;
  font-size: 1.3rem;
  padding: 1.1rem;
  margin: 1.5rem;
  transition: all 0.2s;
  border: 2px solid black;
  border-radius: 0.8rem;
}

.signOut-container a:hover {
  border: 2px solid white;
  color: white;
}

.signOut-container main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.signOut-container main form {
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  width: 60%;
  height: 50% auto;
  border: 2px solid black;
  padding: 1rem;
  margin-bottom: 6rem;
}

@media (min-width: 1200px) {
  .signOut-container main form {
    justify-content: center;
    max-width: 25rem;
  }
}
